<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- Logo de la empresa -->
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="images/Empleo2.png" alt="Logo" width="150" height="60" class="d-inline-block align-top me-2">
      <span></span>
    </a>
    <!-- Botón para dispositivos pequeños -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido del Navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="btn btn nav-btnin " routerLink="/Inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="btn btn nav-btnac" routerLink="/acerca-de">Acerca de</a>
        </li>
        
        <li class="nav-item">
          <a class="btn btn nav-btnre" routerLink="/registro-trabajador">Registro de Trabajadores</a>
        </li>
        <li class="nav-item">
          <a class="btn btn nav-btnlis" routerLink="/lista-trabajadores">Lista de Trabajadores</a>
        </li>
        <li class="nav-item">
          <a class="btn btn nav-btn "routerLink="/registro-cliente">Registro Cliente</a>
        </li>
        <li class="nav-item">
          <a class="btn btn nav-btninc "routerLink="/iniciar-sesion">Iniciar sesion</a>
        </li>
      </ul>     
    </div>
  </div>
</nav>

  